.wrapper{
  display:flex;
  flex-direction:column;

}
.body{
  position:absolute;
  width:100%;
}
.header{
  width:32%;
  height:80px;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  padding:5px;
}
.head{
  color:white;
  text-shadow: 2px 2px 2px red;
  font-family:"verdana";
  font-size:21px;
  text-align:center;
}
.sub{
  font-weight:normal;
  font-size:14px;
  color:grey;
  text-align:center;
  position:absolute;
  top:40px;
}
.headerWrapper{
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:80px;
  margin-right:16px;
  margin-left:16px;
}
.elements{
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  width:17%;
  height:80px;
  font-size:18px;
  text-decoration:none;
}
.elements:hover{
  cursor:pointer;
  background-color:#282A35;
  color:white;
}
.image{
  flex-shrink:0;
}
img{
  width:100%;
  height:100vh;
  opacity:1;
  z-index:-1;
}
